- Create a List whose name is List1 with the elements from 200 to 500 with step 5.
- Then create a Lambda Function to find if a number is divisible by 3 or not.
- Then create a Lambda Function to find the cube of the number.
- Then use filter the numbers that are divisible by 3 and store them into another list whose name is List_3.
- Then using map find the cube of every element that we have in List1,and store the result into another list whose name is       List_cube.

In [4]:
# Create a List whose name is List1 with the elements from 200 to 500 with step 5.
List1 = list(range(200,500,5))
print(List1)

[200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250, 255, 260, 265, 270, 275, 280, 285, 290, 295, 300, 305, 310, 315, 320, 325, 330, 335, 340, 345, 350, 355, 360, 365, 370, 375, 380, 385, 390, 395, 400, 405, 410, 415, 420, 425, 430, 435, 440, 445, 450, 455, 460, 465, 470, 475, 480, 485, 490, 495]

In [5]:
# Create a Lambda Function to find if a number is divisible by 3 or not.
div_3 = lambda x : x%3 == 0 

# Create a Lambda Function to find the cube of the number.
div_cube = lambda x : x**3

In [7]:
# Using the Filter Function , Let's filter the numbers that are divisible by 3.
List_3 = filter(div_3,List1)
print(list(List_3))

[210, 225, 240, 255, 270, 285, 300, 315, 330, 345, 360, 375, 390, 405, 420, 435, 450, 465, 480, 495]

In [8]:
# Using the map Function ,Let's try to find the cube of each number from List1.
List_cube = map(div_cube,List1)
print(list(List_cube))

[8000000, 8615125, 9261000, 9938375, 10648000, 11390625, 12167000, 12977875, 13824000, 14706125, 15625000, 16581375, 17576000, 18609625, 19683000, 20796875, 21952000, 23149125, 24389000, 25672375, 27000000, 28372625, 29791000, 31255875, 32768000, 34328125, 35937000, 37595375, 39304000, 41063625, 42875000, 44738875, 46656000, 48627125, 50653000, 52734375, 54872000, 57066625, 59319000, 61629875, 64000000, 66430125, 68921000, 71473375, 74088000, 76765625, 79507000, 82312875, 85184000, 88121125, 91125000, 94196375, 97336000, 100544625, 103823000, 107171875, 110592000, 114084125, 117649000, 121287375]

In [11]:
List_4 = map(div_3,List1)
print(list(List_4))

[False, False, True, False, False, True, False, False, True, False, False, True, False, False, True, False, False, True, False, False, True, False, False, True, False, False, True, False, False, True, False, False, True, False, False, True, False, False, True, False, False, True, False, False, True, False, False, True, False, False, True, False, False, True, False, False, True, False, False, True]

In [12]:
List1 = list(range(300,700,3))
type(List1)

list

In [13]:
print(List1)

[300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699]

- Sum of Elements in the List1.

In [14]:
# Sum of Elements in the List1.
num = 0
for i in List1:
    num = num + i
print(num)

66933

# Reduce
- Takes two Arguments cumulatively and reduces the sequence.

- The reduce function is used to apply a particular function passed in its argument to all of the list elements mentioned in     the sequence passed along. This function is defined in “functools” module.

In [15]:
# Reduce
# Takes two Arguments cumulatively and reduces the sequence.
addition = lambda x,y : x + y
print(List1)

[300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699]

In [16]:
import functools
from functools import reduce

In [17]:
reduce(addition,List1)

66933

In [22]:
List1 = [2,3,5,7,8]
addition = lambda x,y : x + y
# Then using we can find the sum of all elements in List1.
# reduce(functionname,data)
reduce(addition,List1)

25

In [24]:
List10 = [50,55,60,65,70,72,99,54,10,201,210,98,300,110,123]

In [28]:
find_greater = lambda x,y : x if x>y else y
find_greater(30,45)
find_greater(List10)

TypeError: <lambda>() missing 1 required positional argument: 'y'

In [25]:
find_greater = lambda x,y : x if x>y else y
find_greater(30,45)

45

In [26]:
List11 = [50,110,100,95]
reduce(find_greater,List11)

110

In [27]:
reduce(find_greater,List10)

300